html {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 500; 
}

a:hover {
  text-decoration: underline;
}

a.mailto {
  color: black;
  text-decoration: none;
  font-weight: 300;
}


footer {
  text-align: center;  
}

select {
  font-family: 'Alegreya Sans', sans-serif;
  border: 0;
  font-size: 1.8rem;
  height: 3rem;
  outline: 1px solid #CCC;
  background-color: white;
  margin-left: 5px;
  font-weight: 300;
}

#wrapper {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 0 auto;
  max-width: 580px;
}

.message {
  display: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

p {
  margin-bottom: .8rem;
  margin-top: .8em;
}

p.byline {
  margin-top: .5rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 500;
}

blockquote {
  margin-top: 2rem;
  font-style: italic;
  margin-bottom: 2rem;
}

img.logo {
  display: block;
  width: 26%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

h2 {

}

hr {
  border: 0;
  height: 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background:url(divider.svg) no-repeat center;
  background-size: 90%;
}

p.acquire {
  font-size: 100%;
}

p.acquire a {
  margin-right: 4px;
}
